


body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


h1 {
  color: hsl(172, 67%, 45%);
  font-size: 2rem;
  font-weight: inherit;
  text-align: right;
}


input {
  background-color: hsl(189, 41%, 97%);
  border-style: hidden;
  border-radius: 5px;
  height: 2rem;
  width: 100%;
}

input:focus {
  outline-color: hsl(172, 67%, 45%);
}

img {
  position: absolute;
  z-index: 1;
  margin: 5px 0 0 15px;
  width: 0.65rem;
  height: 0.9rem;
}

input[type="number"] {
  font-size: 1.2rem;
  font-weight: inherit;
  color: hsl(183, 100%, 15%);
  text-align: right;
}


.err {
  border-style: solid;
  border-width: thin;
  border-color: rgb(255, 66, 66);
}

p {
  color: hsl(184, 14%, 56%);
  font-size: 0.7rem;
  margin-top: -10px;
}

h6 {
  margin-top: 7px;
}

label {
  color: hsl(184, 14%, 56%);
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

}

label span {
  color: rgb(255, 66, 66);
  font-weight: inherit;
  display: none;
}


h6, label {
  font-size: 0.7rem;
  font-weight: inherit;
}


.logo {
  margin: 7% 0;
  text-align: center;
}

.main-section {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 20px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  min-width: 600px;
}

.input-section {
  display: flex;
  flex-direction: column;
  padding-right: 8%;
}

.bill, .num-people {
  margin-top: -20px;
}

.people-label {
  margin-top: 9%;
}


.tip-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 5% 0;
}

.output-section {
  display: flex;
  flex-direction: column;
}

.tip-btn, .output-section {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}

.tip-btn {
  border-radius: 5px;
  border-style: none;
  height: 2rem;
  transition: 1s all ease;
  overflow: hidden;
  position: relative;
}

.tip-btn:focus {
  background-color: hsl(172, 67%, 45%);
}

.tip-btn:hover {
  transform: scale(1.1);
}

.output-section {
  border-radius: 10px;
  padding: 10%;
}

.custom {
  background-color: hsl(189, 41%, 97%)
}

.total-label {
  margin-top: 20px;
}

.total-label, .tip-label {
  display: flex;
  justify-content: space-between;
}

.totalAmt, .tipAmt {
  overflow: hidden;
  word-wrap: break-word;
  max-width: 200px;
}

.btnreset {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: inherit;
  border: none;
  margin-top: 100px;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
}

.btnreset:hover, .tip-btn:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  border: none;
  font-weight: inherit;

}

.btnreset:disabled {
  background-color: rgb(13, 104, 109);
  color: rgb(7, 94, 101);
}

::placeholder {
    text-align: right;
    font-size: 1rem;
    font-weight: inherit;
}

@media screen and (max-width: 900px) {

    .logo {
      margin: 3rem 0 ;
    }

    .input-section {
    padding-bottom: 8%;
    padding-right: 0;
    }

    .main-section {
      grid-template-columns: 1fr;
      max-width: 600px;
      min-width: 350px;
      margin: 8rem 0 0 0;
      padding: 2rem;
      border-radius: 20px 20px 0 0;
    }

   .tip-section {
     grid-template-columns: 1fr 1fr;
   }
}
